@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;600;700&display=swap');
/* Reset  */
 *{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  /* background-repeat com o valor no-repeat é para que o gradiente não fique repetindo */
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  /* O display flex é para habilitar o flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
 }

main.container {
  background: white;
  width: 20rem;
  height: 50%;
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

main h2::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
}

form :nth-child(1) {
  margin-bottom: 0.8rem;
}

.underline::before{ 
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.underline::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #8e2de2,
   #4a00e0);
   transform: scaleX(0);
   transition: all 0.3s ease-in-out ;
   transform-origin: right;
}

input:focus ~ .underline::after {
    transform: scale(1) ;
}

.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

form input[type='submit'] {
  margin-top: 2rem;
  padding: 0.4rem;
  background: linear-gradient(to left, #4776e6, #8e54e9);
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3 ease;
}

form input[type='submit']:hover {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-align: center;
}

.footer .social-fields {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5px;
  font-size: 0.85rem;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

a i {
  margin: 0 0.5rem;
  width: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.footer .social-media.twitter {
  background: linear-gradient(to right, #56a7f2, #468aca);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer .social-media.Facebook {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  padding: 0.5rem;
  border-radius: 0.5rem;
}  
